<!DOCTYPE html>
<html>
<head>
    <title>Python SDK Example</title>
</head>
<body>
    <h1>Python SDK Example</h1>
    
    <p>Authentificate for see your PUID:</p>
    
    <form id="loginform" method="POST">
        <button onClick="javascript:OnAuth();return false;">Authenticate</button>
    </form>
    
    <script type="text/javascript" src="//cdn.wwpass.com/packages/wwpass.js/2.1/wwpass.js"></script>
    <script type="text/javascript">
        function OnAuth() {
            wwpass_auth('{{ SPNAME }}', function (status, response) {
                if (status != 603) {
                    var form_status = document.createElement('input');
                    form_status.type = 'hidden';
                    form_status.name = 'wwpass_status';
                    form_status.value = status;
                    
                    var form_response = document.createElement('input');
                    form_response.type = 'hidden';
                    form_response.name = 'wwpass_response';
                    form_response.value = response;
                    
                    var f = document.getElementById('loginform');
                    f.appendChild(form_status);
                    f.appendChild(form_response);
                    f.submit();
                }
            });
        }
    </script>
</body>
</html>